<div class="container-fluid">
  <%= react_component('Editor', theme: @snippet.theme, codeBlock: @snippet.codeblock, snippet_id: @snippet.id, stamps: @snippet.stamps.map{|stamp| StampSerializer.new(stamp).serializable_hash}) %>
</div>
