#editor {
  position: absolute;
  width: 50%;
  height: 90%;
  border: 1px solid #67D5B5;
  z-index: -2;
}

#stampform {
  background-color: transparent;
  color: white;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize:none;
}

.color-green {
  background-color: #67D5B5;
}

.color-pink {
  background-color: #EE7785;
}

.color-purple {
  background-color: #C89EC4;
}

.color-blue {
  background-color: #84B1ED;
}

#stamptail-green:before {
  content:"";
  position: absolute;
  left: 87%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-right: 26px solid #67D5B5;
  border-bottom: 0px solid transparent;
}

#stamptail-green-right:before {
  content:"";
  position: absolute;
  left: 0%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-left: 26px solid #67D5B5;
  border-bottom: 0px solid transparent;
  z-index: -1;
}

#stamptail-pink:before {
  content:"";
  position: absolute;
  left: 87%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-right: 26px solid #EE7785;
  border-bottom: 0px solid transparent;
}

#stamptail-pink-right:before {
  content:"";
  position: absolute;
  left: 0%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-left: 26px solid #EE7785;
  border-bottom: 0px solid transparent;
  z-index: -1;
}

#stamptail-purple:before {
  content:"";
  position: absolute;
  left: 87%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-right: 26px solid #C89EC4;
  border-bottom: 0px solid transparent;
}

#stamptail-purple-right:before {
  content:"";
  position: absolute;
  left: 0%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-left: 26px solid #C89EC4;
  border-bottom: 0px solid transparent;
  z-index: -1;
}

#stamptail-blue:before {
  content:"";
  position: absolute;
  left: 87%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-right: 26px solid #84B1ED;
  border-bottom: 0px solid transparent;
}

#stamptail-blue-right:before {
  content:"";
  position: absolute;
  left: 0%;
  top: -15px;
  width: 0;
  height: 26px;
  border-top: 26px solid transparent;
  border-left: 26px solid #84B1ED;
  border-bottom: 0px solid transparent;
  z-index: -1;
}
